{% extends 'base-interno.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="br-card">
                    <div class="card-header d-flex align-items-center justify-content-between mb-2">
                        <h5 class="card-title d-sm-inline-block">SOLICITAÇÃO DE ADESÃO ADA</h5>
                    </div>
                    <span class="br-divider sm my-3"></span>
                    <div class="card-content ml-6 mr-6">
                        <div class="header-subtitle"><strong>Dados do Solicitante da Ação de Distribuição de Cestas
                            Emergenciais</strong>
                        </div>
                        <span class="br-divider sm my-3"></span>
                        <div class="card-content ml-6 mr-6">
                            <form method="post" id="solicitacao_form">{% csrf_token %}
                                {{ form.media.js }}
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="name">Nome Completo</label>
                                                {% render_field form.name id="name" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="funcao">Função</label>
                                                {% render_field form.funcao id="funcao"  type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cpf">CPF</label>
                                                {% render_field form.cpfsolicitante id="cpf" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="emailsolicitante">E-email</label>
                                                {% render_field form.emailsolicitante id="emailsolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone1solicitante">Telefone</label>
                                                {% render_field form.telefone1solicitante id="telefone1solicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cepsolicitante">CEP</label>
                                                {% render_field form.cepsolicitante id="cepsolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecosolicitante">Endereço</label>
                                                {% render_field form.enderecosolicitante id="enderecosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="numerosolicitante">Número</label>
                                                {% render_field form.numerosolicitante id="numerosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="complementosolicitante">Complemento</label>
                                                {% render_field form.complementosolicitante id="complementosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="bairrosolicitante">Bairro</label>
                                                {% render_field form.bairrosolicitante id="bairrosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="municipiosolicitante_id">Município (UF)</label>
                                                {% render_field form.municipiosolicitante_id id="municipiosolicitante_id" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong>Informações Gerais do Ente Federativo</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="municipioprefeitura">Nome do Município ou Estado/DF:</label>
                                                {% render_field form.municipioprefeitura id="municipioprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cnpjprefeitura">CNPJ do Município ou Estado/DF:</label>
                                                {% render_field form.cnpjprefeitura id="cnpjprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cepprefeitura">CEP</label>
                                                {% render_field form.cepprefeitura id="cepprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecoprefeitura">Endereço</label>
                                                {% render_field form.enderecoprefeitura id="enderecoprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="numeroprefeitura">Número</label>
                                                {% render_field form.numeroprefeitura id="numeroprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="complementoprefeitura">Complemento</label>
                                                {% render_field form.complementoprefeitura id="complementoprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="bairroprefeitura">Bairro</label>
                                                {% render_field form.bairroprefeitura id="bairroprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="municipioprefeitura">Município</label>
                                                {% render_field form.municipioprefeitura id="municipioprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="emailprefeitura">E-mail</label>
                                                {% render_field form.emailprefeitura id="emailprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong>Informações do Prefeito(a) ou Governador(a)</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomeprefeito">Nome Completo</label>
                                                {% render_field form.nomeprefeito id="nomeprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="telefoneprefeito">Telefone</label>
                                                {% render_field form.telefoneprefeito id="telefoneprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cpfprefeito">CPF</label>
                                                {% render_field form.cpfprefeito id="cpfprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="rgprefeito">RG</label>
                                                {% render_field form.rgprefeito id="rgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="orgaorgprefeito">Órgão Emissor do RG</label>
                                                {% render_field form.orgaorgprefeito id="orgaorgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="ufrgprefeito">UF Emissor do RG</label>
                                                {% render_field form.ufrgprefeito id="ufrgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="emailprefeito">E-mail</label>
                                                {% render_field form.emailprefeito id="emailprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong>Quantidade de Cestas Emergenciais
                                        Pleiteadas</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="quantidadecestas">Número de Cestas</label>
                                                {% render_field form.quantidadecestas id="quantidadecestas" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong>Local de Armazenamento das Cestass</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomelocalarmazenamento">Nome do Local</label>
                                                {% render_field form.nomelocalarmazenamento id="nomelocalarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomemunicipioarmazenamento">Nome do Município ou
                                                    Estado/DF</label>
                                                {% render_field form.nomemunicipioarmazenamento id="nomemunicipioarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="ceparmazenamento">CEP</label>
                                                {% render_field form.ceparmazenamento id="ceparmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecoarmazenamento">Endereço</label>
                                                {% render_field form.enderecoarmazenamento id="enderecoarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="bairroarmazenamento">Bairro</label>
                                                {% render_field form.bairroarmazenamento id="bairroarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomemunicipioarmazenamento">Município</label>
                                                {% render_field form.nomemunicipioarmazenamento id="nomemunicipioarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomemunicipioarmazenamento">Município</label>
                                                {% render_field form.nomemunicipioarmazenamento id="nomemunicipioarmazenamento" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong>Dados do Órgão de Controle Social</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomelocalcontrolesocial">Nome do Local</label>
                                                {% render_field form.nomelocalcontrolesocial id="nomelocalcontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomemunicipiocontrolesocial">Nome do Município ou
                                                    Estado/DF</label>
                                                {% render_field form.nomemunicipiocontrolesocial id="nomemunicipiocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="cepcontrolesocial">CEP</label>
                                                {% render_field form.cepcontrolesocial id="cepcontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecocontrolesocial">Endereço</label>
                                                {% render_field form.enderecocontrolesocial id="enderecocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="numerocontrolesocial">Número</label>
                                                {% render_field form.numerocontrolesocial id="numerocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="complementocontrolesocial">Complemento</label>
                                                {% render_field form.complementocontrolesocial id="complementocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="bairrocontrolesocial">Bairro</label>
                                                {% render_field form.bairrocontrolesocial id="bairrocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="nomemunicipiocontrolesocial">Município</label>
                                                {% render_field form.nomemunicipiocontrolesocial id="nomemunicipiocontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone1controlesocial">Telefone</label>
                                                {% render_field form.telefone1controlesocial id="telefone1controlesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone2controlesocial">Telefone</label>
                                                {% render_field form.telefone2controlesocial id="telefone2controlesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="emailcontrolesocial">E-mail</label>
                                                {% render_field form.emailcontrolesocial id="emailcontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-lg-3 mb-3">
                                            <div class="br-input small">
                                                <label for="dirigentecontrolesocial">Dirigente/representante</label>
                                                {% render_field form.dirigentecontrolesocial id="dirigentecontrolesocial" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="header-subtitle"><strong>Arquivos</strong>
                                </div>
                                <span class="br-divider sm my-3"></span>


                        </div>


                        <!-- /.card-body -->
                        <div class="card-footer mt-3">
                            <div class="card-footer mt-3">
                                <div class="card-footer mt-3">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}

                                                <div class="br-message danger" role="alert">
                                                    <div class="icon"><i class="fas fa-times-circle fa-lg"
                                                                         aria-hidden="true"></i>
                                                    </div>
                                                    <div class="content"><span
                                                            class="message-title">Erro no campo {{ field.label }}.</span><span
                                                            class="message-body"> {{ error }}</span>
                                                    </div>
                                                    <div class="close">
                                                        <button class="br-button circle small" type="button"
                                                                aria-label="content"><i
                                                                class="fas fa-times" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    <button type="submit" class="br-button primary mr-3"><i class="fas fa-save"
                                                                                            style="padding-right: 20px;"></i>
                                        Salvar
                                    </button>
                                    <a href="{% url 'solicitacao' %}" class="br-button">Cancelar</a>
                                </div>                  <!-- /.card-footer -->
                            </div>
                        </div>                  <!-- /.card-footer -->
                    </div>
                    </form>                  <!-- /.card-footer -->
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}

    <script src="{% static '@govbr-ds/core/dist/core.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/gerenciamento_select2.js' %}"></script>
    <script>
        $("input[type=text]").keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });
    </script>
{% endblock %}