{% extends 'base-interno.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/table.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="br-card">
                    <div class='f"card-header d-flex align-items-center justify-content-between mb-2 '>
                    <h5 class="card-title d-sm-inline-block ml-6" style="color:#5992ED;">TERMO DE ADESÃO ADA</h5>
                    </div>
                            <span class="br-divider sm my-3"></span>
                        <div class="card-content ml-6 mr-6">
                             <form method="post" id="termoadesao_form" enctype="multipart/form-data">{% csrf_token %}
                                    {{ form.media.js }}
                                <div class="card-body">
                                    <div class="header-subtitle"><strong style="color:#1351B4;">SOLICITAÇÃO DE CESTAS</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="numero">Número</label>
                                                {% render_field form.numero id="numero" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="ano">Ano</label>
                                                {% render_field form.ano id="ano" type="number" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="processosei">SEI</label>
                                                {% render_field form.processosei id="processosei" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Dados do Solicitante da Ação de Distribuição de Cestas
                                        Emergenciais</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="name">Nome Completo</label>
                                                {% render_field form.name id="name" type="text"  %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="funcao">Função <s>*</s></label>
                                                {% render_field form.funcao id="funcao" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cpf">CPF</label>
                                                {% render_field form.cpfsolicitante class="cpf" id="cpf" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="emailsolicitante">E-email</label>
                                                {% render_field form.emailsolicitante id="emailsolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone1solicitante">Telefone</label>
                                                {% render_field form.telefone1solicitante class="telefone" class="telefone" id="telefone1solicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                 <label for="estado">Estado</label>
                                                {% render_field form.estado_solicitante class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="municipio">Município (UF)</label>
                                                {% render_field form.municipio_solicitante class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cepsolicitante">CEP</label>
                                                {% render_field form.cepsolicitante class="cep" id="cepsolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecosolicitante">Endereço</label>
                                                {% render_field form.enderecosolicitante id="enderecosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="numerosolicitante">Número</label>
                                                {% render_field form.numerosolicitante id="numerosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="complementosolicitante">Complemento</label>
                                                {% render_field form.complementosolicitante id="complementosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="bairrosolicitante">Bairro</label>
                                                {% render_field form.bairrosolicitante id="bairrosolicitante" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Informações Gerais do Ente Federativo</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                        <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                 <label for="estado">Estado</label>
                                                {% render_field form.estado_prefeitura class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="municipio">Município (UF)</label>
                                                {% render_field form.municipio_prefeitura class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cnpjprefeitura">CNPJ da Prefeitura: </label>
                                                {% render_field form.cnpjprefeitura id="cnpjprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="emailprefeitura">E-mail</label>
                                                {% render_field form.emailprefeitura id="emailprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cepprefeitura">CEP</label>
                                                {% render_field form.cepprefeitura  class="cep" id="cepprefeitura"  maxlength="10" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecoprefeitura">Endereço</label>
                                                {% render_field form.enderecoprefeitura id="enderecoprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="numeroprefeitura">Número</label>
                                                {% render_field form.numeroprefeitura id="numeroprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="complementoprefeitura">Complemento</label>
                                                {% render_field form.complementoprefeitura id="complementoprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="bairroprefeitura">Bairro</label>
                                                {% render_field form.bairroprefeitura id="bairroprefeitura" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Informações do Prefeito(a) ou
                                        Governador(a)</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="nomeprefeito">Nome Completo</label>
                                                {% render_field form.nomeprefeito id="nomeprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="telefoneprefeito">Telefone</label>
                                                {% render_field form.telefoneprefeito  class="telefone" id="telefoneprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cpfprefeito">CPF</label>
                                                {% render_field form.cpfprefeito class="cpf" id="cpfprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="rgprefeito">RG</label>
                                                {% render_field form.rgprefeito id="rgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="orgaorgprefeito">Órgão Emissor do RG</label>
                                                {% render_field form.orgaorgprefeito id="orgaorgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="ufrgprefeito">UF Emissora do RG</label>
                                                {% render_field form.ufrgprefeito id="ufrgprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="emailprefeito">E-mail</label>
                                                {% render_field form.emailprefeito id="emailprefeito" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Quantidade de Cestas Emergenciais
                                        Pleiteadas</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="quantidadecestas">Número de Cestas <s>*</s></label>
                                                {% render_field form.quantidadecestas id="quantidadecestas" type="number" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Local de Armazenamento das Cestas</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="nomelocalarmazenamento">Nome do Local<s>*</s></label>
                                                {% render_field form.nomelocalarmazenamento id="nomelocalarmazenamento" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                 <label for="estado">Estado</label>
                                                {% render_field form.estado_local_armazenamento  class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="municipio">Município (UF)</label>
                                                {% render_field form.municipio_local_armazenamento class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="ceparmazenamento">CEP<s>*</s></label>
                                                {% render_field form.ceparmazenamento  class="cep" id="ceparmazenamento" maxlength="10" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecoarmazenamento">Endereço<s>*</s></label>
                                                {% render_field form.enderecoarmazenamento id="enderecoarmazenamento" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="numeroarmazenamento">Número<s>*</s></label>
                                                {% render_field form.numeroarmazenamento id="numeroarmazenamento" type="text" required="true"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="complementoarmazenamento">Complemento</label>
                                                {% render_field form.complementoarmazenamento id="complementoarmazenamento" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="bairroarmazenamento">Bairro<s>*</s></label>
                                                {% render_field form.bairroarmazenamento id="bairroarmazenamento" type="text" required="true"%}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Dados do Órgão de Controle Social</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="nomelocalcontrolesocial">Nome do Local<s>*</s></label>
                                                {% render_field form.nomelocalcontrolesocial id="nomelocalcontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                 <label for="estado">Estado</label>
                                                {% render_field form.estado_controle_social class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="municipio">Município (UF)</label>
                                                {% render_field form.municipio_controle_social class="campo-select" type="select" style="width:100%" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="cepcontrolesocial">CEP<s>*</s></label>
                                                {% render_field form.cepcontrolesocial class="cep" id="cepcontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="enderecocontrolesocial">Endereço<s>*</s></label>
                                                {% render_field form.enderecocontrolesocial id="enderecocontrolesocial" type="text" required="true"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="numerocontrolesocial">Número<s>*</s></label>
                                                {% render_field form.numerocontrolesocial id="numerocontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="complementocontrolesocial">Complemento</label>
                                                {% render_field form.complementocontrolesocial id="complementocontrolesocial" type="text" required="true"%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="bairrocontrolesocial">Bairro<s>*</s></label>
                                                {% render_field form.bairrocontrolesocial id="bairrocontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone1controlesocial">Telefone<s>*</s></label>
                                                {% render_field form.telefone1controlesocial class="telefone" id="telefone1controlesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="telefone2controlesocial">Telefone<s>*</s></label>
                                                {% render_field form.telefone2controlesocial class="telefone" class="telefone"  id="telefone2controlesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="emailcontrolesocial">E-mail<s>*</s></label>
                                                {% render_field form.emailcontrolesocial id="emailcontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="dirigentecontrolesocial">Diretor/representante<s>*</s></label>
                                                {% render_field form.dirigentecontrolesocial id="dirigentecontrolesocial" type="text" required="true" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header-subtitle"><strong>Arquivos</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-12 my-6">
                                            <div class="br-upload">
                                                <label class="upload-label" for="multiple-files"><span>Termo de Adesão assinado </span></label>
                                                <input class="upload-input" id="single-file" name="arquivo" type="file"/>
                                                <div class="upload-list"></div>
                                            </div>
                                            <p class="text-base mt-1">Clique ou arraste os arquivos para cima do componente Upload.</p>
                                        </div>
                                    </div>
                                    {% if  termoadesaoada.arquivo %}
                                        <div class="br-table">
                                        <div class="table-header">
                                            <div class="top-bar">
                                                <div class="table-title mb-4"></div>
                                            </div>
                                        </div>

                                        <table>
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col" class="table-head">Nome do Arquivo</th>
                                                <th scope="col" class="table-head">Tipo do Documento</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {#                                                                                {% for termo in form.all %}#}
                                            <tr>

                                                <td data-th="Ações">
                                                    <a href="{{ termoadesaoada.arquivo.url }}" target="_blank"
                                                       class="br-button"> <i class="fas fa-eye" aria-hidden="true"></i></a>
                                                    <a class="br-button circle" data-toggle="modal"
                                                       data-target="#termoadesaoadaa{{ termoadesaoada.id }}"><i
                                                            class="fas fa-trash-alt"
                                                            aria-hidden="true"></i></a>
                                                    <div class="br-scrim-util foco" id="termoadesaoadaa{{ termoadesaoada.id }}"
                                                         data-scrim="true">
                                                        <div class="br-modal">
                                                            <div class="br-modal-header">
                                                                <strong>Excluir</strong>
                                                            </div>
                                                            <div class="br-modal-body">
                                                                <p>Deseja realmente excluir
                                                                    <strong>{{ substring_filtrada }}</strong>
                                                                    ?</p>
                                                            </div>
                                                            <div class="br-modal-footer justify-content-center">
                                                                <a class="br-button mr-3"
                                                                   href="{% url 'termoadesao_update' pk=termoadesaoada.id %}"
                                                                   type="button">
                                                                    Não
                                                                </a>
                                                                <a class="br-button primary mr-3"
                                                                   href="{% url 'delete_termo_adesao' pk=termoadesaoada.pk %}"
                                                                   type="button">
                                                                    Sim
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </td>
                                                <td data-th="">{{ substring_filtrada }}</td>
                                                <td data-th="">{{ extensao }}</td>

                                                <td data-th="">Termo de Adesão Assinado</td>

                                            </tr>
                                            {#                                                                        {% endfor %}#}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Portaria</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                                <label for="portaria"></label>
                                                {% render_field form.portaria_id  class="campo-select" type="select" %}
                                        </div>
                                    </div>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Evento</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                                <label for="evento"></label>
                                                {% render_field form.evento_id  class="campo-select" type="select" %}
                                        </div>
                                    </div>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Público</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                   <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                                <label for="publico"></label>
                                                {% render_field form.publico_id  class="campo-select" type="select" %}
                                        </div>
                                    </div>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Publicação no DOU</strong></div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                           <div class="br-datetimepicker" data-mode="single" data-type="text">
                                                <div class="br-input small has-icon">
                                                    <label for="id_data_inicio">Data Publicação DOU</label>
                                                    {% render_field form.data_publicacao_dou data-input="data-input" %}
                                                    <button class="br-button circle small" type="button"
                                                            aria-label="Abrir Timepicker" data-toggle="data-toggle"
                                                            id="simples-input-btn"><i class="fas fa-calendar-alt"
                                                                                      aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-input small">
                                                <label for="link_publicacao_dou">Link da Publicação</label>
                                                {% render_field form.link_publicacao_dou id="link_publicacao_dou" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="header-subtitle"><strong style="color:#1351B4;">Parecer</strong>
                                    </div>
                                    <span class="br-divider sm my-3"></span>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                                <label for="situacao">Situação do Parecer</label>
                                                {% render_field form.situacao  class="campo-select" type="select" %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-11 col-lg-11 mb-3">
                                            <div class="br-textarea">
                                                <label for="observacao">Descrição do Parecer</label>
                                                {% render_field form.observacao id="observacao" type="text" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="card-footer mt-3">
                                        <div class="card-footer mt-3">
                                            <div class="card-footer mt-3">
                                                {% if form.errors %}
                                                    {% for field in form %}
                                                        {% for error in field.errors %}

                                                            <div class="br-message danger" role="alert">
                                                                <div class="icon"><i class="fas fa-times-circle fa-lg"
                                                                                     aria-hidden="true"></i>
                                                                </div>
                                                                <div class="content"><span
                                                                        class="message-title">Erro no campo {{ field.label }}.</span><span
                                                                        class="message-body"> {{ error }}</span>
                                                                </div>
                                                                <div class="close">
                                                                    <button class="br-button circle small" type="button"
                                                                            aria-label="content"><i
                                                                            class="fas fa-times" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                                <button type="submit" class="br-button primary mr-3"><i class="fas fa-save"
                                                                                                        style="padding-right: 20px;"></i>
                                                    Salvar
                                                </button>
                                                <a href="{% url 'termoadesao' %}" class="br-button">Cancelar</a>
                                            </div>                  <!-- /.card-footer -->
                                        </div>
                                    </div>                  <!-- /.card-footer -->
                             </form>
                        </div>

                                               <!-- /.card-footer -->
                </div>
            </div><!-- /.card-footer -->
        </div>
    </div>




{% endblock %}

{% block script %}
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <script src="{% static '@govbr-ds/core/dist/core.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/gerenciamento_select2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.telefone').mask('(00) 0000-0000');
        $('.cep').mask('00000-000');
        $('.cpf').mask('000.000.000-00');
    });
    </script>
    <script>
        $("input[type=text]").keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });
    </script>
{% endblock %}